body {
    margin: 0;
    padding: 0;
    width: 400px;
    min-height: 600px;
    overflow-x: hidden;
    font-size: 11px;
}

#wrapper {
    position: relative;
    padding: 5px 0 5px 5px;
    margin: 5px 20px 5px 10px;
}

h4 {
    margin-top: 0;
}

h4 > a {
    color: #444444;
}

a {
    color: #008DFF;
}

#logo {
    position: absolute;
    top: 0px;
    right: 0px;
}

#logo img {
    display: block;
    width: 32px;
    border: 1px #14D100 solid;
}

#news .news-date-time {
    color: #14D100 !important;
}

#news {
    margin-top: 5px;
}

#news > div {
    border: 1px #ccc solid;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    overflow: hidden;
}

#news div.image {
    height: 60px;
    width: 80px;
    float: left;
    margin: 0 5px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

